<!--## LOGIN ##-->
<div id="login-overlay" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Login</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="well">
                        <form id="loginForm" #loginForm="ngForm">
                            <div class="form-group">
                                <label for="email" class="control-label">Email</label>
                                <input type="text" class="form-control" id="email" name="email" required title="Please enter you email" placeholder="example@gmail.com" [(ngModel)]="emailLogic" #email="ngModel" ngModel pattern="[a-zA-Z0-9.@-]+$">
                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                                    <div *ngIf="email.errors.required">
                                        Email is required.
                                    </div>
                                    <div *ngIf="email.errors.pattern">
                                        Invalid Caracters
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required title="Please enter your password" [(ngModel)]="passwordLogic" #pass="ngModel" ngModel>
                                <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert alert-danger">
                                    <div *ngIf="pass.errors.required">
                                        Password is required.
                                    </div>

                                </div>
                            </div>

                            <div [hidden]="true" id="loginErrorMsg" class="alert alert-error hide">Wrong username og password</div>

                            <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-success btn-block" (click)="autenticar()">Login</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

        </div>
        <button class="btn btn-link" routerLink="/vehiculos">Omitir</button>

    </div>

</div>

<!--## FIN LOGIN ##-->