<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <div>
                <h3> Editar vehiculo</h3>
            </div>

            <div class="panel panel-default shadow p-3 mb-5 bg-white rounded">
                <div class="panel-body">
                    <div class="form-group">
                        <form role="form" data-toggle="validator" #vehiculoForm="ngForm">

                            <div class="form-group">
                                <label for="model">Modelo</label>
                                <input name="model" class="form-control" required [(ngModel)]="vehiculo.model" #model="ngModel" ngModel pattern="[a-zA-Z0-9]+$">
                                <div *ngIf="model.invalid && (model.dirty || model.touched)" class="alert alert-danger">
                                    <div *ngIf="model.errors.required">
                                        Model is required.
                                    </div>
                                    <div *ngIf="model.errors.pattern">
                                        Invalid Caracters
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="brand">Marca</label>
                                <input name="brand" class="form-control" required [(ngModel)]="vehiculo.brand" #brand="ngModel" ngModel pattern="[a-zA-Z0-9]+$">
                                <div *ngIf="brand.invalid && (brand.dirty || brand.touched)" class="alert alert-danger">
                                    <div *ngIf="brand.errors.required">
                                        Brand is required.
                                    </div>
                                    <div *ngIf="model.errors.pattern">
                                        Invalid Caracters
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="passengers_capacity">Capacidad de pasajeros</label>
                                <input name="passengers_capacity" class="form-control" required [(ngModel)]="vehiculo.passengers_capacity" #passengers_capacity="ngModel" ngModel pattern="[0-9]+$">
                                <div *ngIf="passengers_capacity.invalid && (passengers_capacity.dirty || passengers_capacity.touched)" class="alert alert-danger">
                                    <div *ngIf="passengers_capacity.errors.required">
                                        Capacity is required.
                                    </div>
                                    <div *ngIf="model.errors.pattern">
                                        Invalid Caracters
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="price">Precio</label>
                                <input name="price" class="form-control" required [(ngModel)]="vehiculo.price" #price="ngModel" ngModel pattern="[0-9.]+$" [min]="10000">
                                <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
                                    <div *ngIf="price.errors.required">
                                        Price is required.
                                    </div>
                                    <div *ngIf="price.errors.pattern">
                                        Invalid Caracters
                                    </div>
                                    <div *ngIf="price.errors?.min">
                                        Price must be higher than $10000
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="categoria">Categoria</label>
                                <select class="form-control" [(ngModel)]="vehiculo.category" [ngModelOptions]="{standalone: true}" required>
                                    <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{categoria}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="year">Año</label>
                                <input name="year" class="form-control" required [(ngModel)]="vehiculo.year" #year="ngModel" ngModel pattern="[0-9]+$" [min]="1900" [max]="2018">
                                <div *ngIf="year.invalid && (year.dirty || year.touched)" class="alert alert-danger">
                                    <div *ngIf="year.errors.required">
                                        Year is required.
                                    </div>
                                    <div *ngIf="year.errors.pattern">
                                        Invalid Caracters
                                    </div>
                                    <div *ngIf="year.errors?.min">
                                        Year must be higher than 1900
                                    </div>
                                    <div *ngIf="year.errors?.max">
                                        Year must be lower than 2018
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="weight">Peso</label>
                                <input name="weight" class="form-control" required [(ngModel)]="vehiculo.weight" #weight="ngModel" ngModel pattern="[0-9]+$" [min]="50">
                                <div *ngIf="weight.invalid && (weight.dirty || weight.touched)" class="alert alert-danger">
                                    <div *ngIf="weight.errors.required">
                                        Weight is required.
                                    </div>
                                    <div *ngIf="weight.errors.pattern">
                                        Invalid Caracters
                                    </div>
                                    <div *ngIf="weight.errors?.min">
                                        Weight must be higher than 50
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <button class="btn btn-success" [disabled]="!vehiculoForm.form.valid" (click)=save()>Guardar</button>

            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>