<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron text-center jumbotron-fluid jumbotron-background">
    <h1 class="display-4">{{title}}</h1>
    <p class="lead">Esta es un pequeño modulo de ABM Vehiculos</p>
</div>



<div class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " routerLink="/vehiculos">Vehiculos</a>
        </li>

    </ul>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>





<!--<app-message></app-message>-->