<div *ngIf="vehiculo">
    <h3>Details</h3>

    <ul class="list-group shadow p-3 mb-5 bg-white rounded">
        <li class="list-group-item">
            <span>Brand: {{vehiculo.brand}} </span>
        </li>
        <li class="list-group-item">
            <span>Model: {{vehiculo.model}}</span>
        </li>
        <li class="list-group-item">
            <span>Capacidad: {{vehiculo.passengers_capacity}}</span>
        </li>
        <li class="list-group-item">
            <span>Precio: {{vehiculo.price}}</span>
        </li>
        <li class="list-group-item">
            <span>Categoria: {{vehiculo.category}}</span>
        </li>
        <li class="list-group-item">
            <span>Año: {{vehiculo.year}}</span>
        </li>
        <li class="list-group-item">
            <span>Peso: {{vehiculo.weight}}</span>
        </li>

    </ul>

    <br>
    <button type="button" class="btn btn-primary" routerLink="/edit/{{vehiculo.id}}">Editar</button>

    <button type="button" class="btn btn-danger" (click)="delete(vehiculo)">Eliminar</button>

    <button type="button" class="btn btn-secondary" (click)="goBack()">Volver</button>

</div>