 /* unvisited link */
 
 a:link {
     color: #2196F3;
     text-decoration: none;
 }
 /* visited link */
 
 a:visited {
     color: #2196F3;
     text-decoration: none;
 }
 /* mouse over link */
 
 a:hover {
     color: #1976D2;
     text-decoration: none;
 }
 /* selected link */
 
 a:active {
     color: #1976D2;
     text-decoration: none;
 }