<h2>Mis vehiculos</h2>
<br>
<ul class="list-group shadow p-3 mb-5 bg-white rounded">
    <li class="list-group-item " *ngFor="let vehiculo of vehiculos">
        <a routerLink="/detail/{{vehiculo.id}}">
            {{vehiculo.brand}} {{vehiculo.model}}
        </a>
    </li>

</ul>
<button type="button" class="btn btn-primary" routerLink="/add">Agregar Nuevo</button>